@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Segoe UI", sans-serif;
    @apply bg-slate-900 text-slate-400 lg:!overflow-y-auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
    @apply text-slate-200;
  }

  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
}

@layer components {
  /* html */
  .html-section {
    @apply py-8;
  }

  .html-section-layout {
    @apply flex flex-col gap-y-8;
  }

  .html-tag-container {
    @apply flex flex-col gap-y-2 lg:flex-row;
  }

  .html-tag {
    @apply w-full lg:w-32;
  }

  .html-tag-content {
    @apply flex w-full flex-col gap-y-2 lg:w-[calc(100%-8rem)];
  }

  .html-tag-table {
    @apply table-auto text-sm;
  }

  .html-tag-tbody {
    @apply flex flex-col gap-y-2 sm:gap-y-1;
  }

  .html-tag-trow {
    @apply flex flex-col sm:block;
  }

  .html-cell-label {
    @apply w-full align-top text-base text-slate-200 sm:w-32 sm:text-sm md:w-40;
  }

  .html-cell-details {
    @apply align-top;
  }
}
